.mat-card {
  width: 80%;
  height: calc(90% - 72px);
  max-height: calc(90% - 72px);
  margin: auto;
  position: absolute;
  top: calc(50% + 72px);
  left: 50%;
  transform: translate(-50%, calc(-50% - 36px));
}

@media (min-width: 1440px) {
  .mat-card {
    width: 80%;
    height: calc(80% - 72px);
    max-height: calc(80% - 72px);
    margin: auto;
    position: absolute;
    top: calc(50% + 72px);
    left: 50%;
    transform: translate(-50%, calc(-50% - 36px));
  }
}

.stp {
  width: 100%;
  height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
}

.back-button {
  margin-left: 16px;
  margin-bottom: 10px;
}

.next-button {
  margin-left: 16px;
  margin-bottom: 10px;
}

.step-buttons {
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: end;
}


.rec-div {
  overflow: auto;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}

.acc {
  width:100%;
  height: 100%;
}

:host ::ng-deep .mat-horizontal-content-container {
  overflow-y: auto;
  //margin-right: 32px;
  height: 100%;
}
